@model Category
<form method="post" asp-action="Delete">
    <input asp-for="id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Suprimer Votre Taches</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name">TODO</label>
            <input asp-for="Name" disabled class="form-control" />
        
        </div>
        <div class="mb-3">
            <label asp-for="CreateDateTime1">DATE(début)</label>
            <input asp-for="CreateDateTime1" disabled class="form-control" />
            
        </div>
        <div class="mb-3">
            <label asp-for="CreateDateTime">DATE(fin)</label>
            <input asp-for="CreateDateTime" disabled class="form-control" />
           
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Suprimer La Tache</button>
        <a asp-controller="Category" asp-action="index" class="btn btn-secondary" style="width:150px">
            Retour à la liste
        </a>
    </div>

</form>

@section scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }

}
